*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    background-color: rgb(160, 107, 37);
    padding: 0 2rem;
    height: 2rem;
    align-items: center;
   
}

body {
    background-color: rgb(151, 149, 149);
}

a {
    text-decoration: none;
}
.nav-logo, .logout-link {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

.nav-logo:hover, .logout-link:hover {
    color: #fff;
}

.processing-div {
    width: 100%;
    margin-top: -1.5rem;
    margin-bottom: 2rem;
    
}

.processing-img {
    width: inherit;
    height: 8rem;
}


.user-img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid black;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
}

article {
    /* padding:0 0.3rem; */
    margin-bottom: 5rem;
}

.grant-id, .status {
    margin: 2rem 0;
}

.greeting-text {
    word-spacing: 2px;
    line-height: 2;
}

.grant-status {
    margin-left: 1rem;
}



main {
    
    padding: 0 2rem;
}

li {
    list-style: none;
}


/* .hide-text {
    display: none; 
} */
/* 
.amount-won-div {
    text-align: center;
    border: 1px solid rgb(75, 80, 73);
    margin: 2rem 0;
    background-color: rgb(75, 80, 73);
    padding: 10px;
    color: #fff;
    border-radius: 4px;
   
} */

/* .amount-text {
font-weight: 700;
font-size: 23px;
} */
.winning-message-div {
    margin: 2rem 0;
    line-height: 2;
    background-color: white;
    /* box-shadow: 0 0 4px rgb(146, 147, 148); */
    padding: 0.5rem 1rem;
    border-radius: 5px;
}


.grant-success-img-div {
    width: 100%;
    text-align: center;    
}

.grant-success-img {
    width: 40%;
    
}



.dashboard {
    /* max-width: 500px; */
    margin: 0 auto;
    /* box-shadow:  0 0 3px rgb(151, 149, 149); */
    padding-bottom: 10rem;
    
    background-color: white;
}

.payment-mode {
    margin-top: 2rem;
}

.fa-square-whatsapp {
    color: green;
}

.fa-envelope {
    color: red;
}

.chat-support {
  word-spacing: 20px;
   text-align: center;
}


.hide-link {
    display: none;
}

.show-link {
    display: block;
}


.after-payment {
    transition: all 0.4s linear;
}

.claim-payment-btn:active {
    transform: scale(0.98);
    transition: all 0.4s linear;
}

.grant-status-after {
    margin-top: .1rem;

}

.grant-status-div {
    display: flex;
    align-items: center;
    
}

.approved-btn {
    margin-left: .4rem;
}

.btn:hover {
   background-color: #198754;;
}

.firstname {
    color: red
}

.lastname {
    color: green
}

.amount-won {
    color:purple
}

.amount-won-span {
    color: pink;
}

.hide {
 display: none;
}

.show {
  display: block;
}


.preloader {
    height: 100vh;
    /* background-color: red; */
    width: 100%;
    margin-bottom: 100000rem;
}

.user-img-footer-div {
    width: 100%;
    height: 17rem;
}

.user-img-footer {
    width: inherit;
    height: inherit;
}