*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
height: 100vh;
}


nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(160, 107, 37);
    padding: 2rem 2rem;
    height: 2rem;
    align-items: center;
   
}
a {
    text-decoration: none;
    cursor: pointer;
}
.loginform {
    width: 80%;
    margin: 0 auto;
    
}



.logo-div {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}

.logo-div img{
    width: inherit;
    height: inherit;
}

.existed-user {
    text-align: center;
}

.forgot-password {
    text-align: center;
    margin-top: 0.5rem;
}

.existed-user:hover, .forgot-password:hover {
    text-decoration: underline;
}

.nav-logo {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.signup-link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
    transition: all 0.4s linear;
}

.signup-link:hover {
    color: white;
    transform: scale(0.97);
}

.img-div {
    width: 100%;
}

.img-div img {
    width: inherit;
    height: 15rem;
}

.img-div h2 {
    text-align: center;
    color:rgb(187, 123, 27);
    margin: 2rem 0;
}

.form-section {
    margin-top: 2rem;
}

.login-btn:active{
    transform: scale(0.98);
}

.forgot-password {
    margin-bottom: 10rem;
}

.error-message {
    color : red;
    font-size: .85rem;
}

.login-btn {
    display: grid;
    place-content: center;
}

.loader {
    pointer-events: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: white;
    animation: an1 1s ease infinite;
    position: absolute;
    margin-left: 1rem;
    margin-top: -2rem;
    display: none;
    
}

.login-inp {
    position: relative;
}



.eye {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: .3rem;
    margin-right: .3rem;
}
#eye-slash {
    display: none;
}
@keyframes an1 {
    0% {
        transform: rotate(0turn);
    }

    100% {
        transform: rotate(1turn);
    }
}

