

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(160, 107, 37);
    padding: 2rem 2rem;
    height: 2rem;
    align-items: center;
   
}
a {
    text-decoration: none;
    cursor: pointer;
}
.loginform {
    width: 80%;
    margin: 0 auto;
    
}

.logo-div {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}

.logo-div img{
    width: inherit;
    height: inherit;
}


.img-div {
    width: 100%;
}

.img-div img {
    width: inherit;
    height: 14rem;
}

.signup-link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
    transition: all 0.4s linear;
}

.signup-link:hover {
    color: white;
    transform: scale(0.97);
}

h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

form {
    margin-top: 2rem;
}

.hide-link {
    display: none;
}

.show-link {
    display: block;
}

.fa-envelope {
    color: red;
}
    .fa-square-whatsapp {
        color: green;
    }


    /* .fa-telegram */

    .error-username {
        color: red;
        font-size: 14px;
    }