*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
/* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */

}



label {
    font-weight: 700;
}


.form-check-label {
    font-weight: 400;
}


.signup-form-header  {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
}

section {
   text-align: center;
   color: rgb(160, 107, 37);
}


  

@media screen and (max-width: 768px) {
    .signup-form {
        /* max-width: 400px; */
        margin: 0 auto;
        padding:  0 3rem;
    }
}

@media screen and (min-width:769px) {
    .signup-form {
        max-width: 1000px;
        margin: 0 auto;
        padding:  0 3rem;
    }
}
