/* general body styling  */
*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* navbar styling */

.navbar {
    padding:  0.5rem 1rem;
    height: auto;
    background-color: rgb(248, 249, 250);
    box-shadow: 0 0 3px rgb(141, 139, 139);
   }
.fixed-nav {
    background-color: white;
    box-shadow: 0 0 3px rgb(141, 139, 139);
    padding:  0.5rem 2rem;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

}
.nav-logo {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}



.nav-heading-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-container-div {
    background-color: transparent;
    margin-top: 1rem;
    overflow: hidden;
    height: 0;
    transition: all 0.3s linear;
    width: 100%;
}
.show-nav {
   overflow: visible;
}

.nav-item {
    list-style: none;
    margin-top: 1rem;
    border-bottom: 1px dotted black;
    padding-bottom: 0.3rem;
}


.nav-link {
    text-decoration: none;
    font-size: 22px;
    color: rgb(187, 123, 27);
    

}